.speciality-section {
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
  background-color: #2e3e60;
  color: var(--color-background-1);
  .speciality-section--heading {
    font-weight: 300 !important;
  }
}
